 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Quando tiver um padding, sera respeitado o tamanho maximo sera o tamanho da caixa*/
    font-size: 1.6rem;
    font-family: Inter, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    list-style: none;
}

:root {
    font-size: 62.5%;  /* converte o tamanho da fonte para 10rem*/
    --bg-color-body: #F8fafc
    --bg-color-box: #ffffff;
    --text-color: #0F172A;
}

body {
    font-size: 1.6rem; /* aqui retorna o tamanho da fonte para 16rem = 1rem equivale a 10rem*/
    background: var(--bg-color-body);
    height: 100vh;
    display: grid;
    place-content: center;
}

.main {
    
    padding: 6.4rem 8rem;
    background: var(--bg-color-box);
    box-shadow: 0rem 4rem 3.2rem rgba(15, 23, 42, 0.15);
    border-radius: 1.6rem;
    display: grid;
    gap: 6.4rem;
}

section h2 {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.4rem;
    text-shadow: 0rem 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--text-color);
    
}

.conversor .wrapper {
    margin-top: 1.6rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.money-wrapper {
    background: white;
    outline: .1rem solid #94a3b8;
    width: 27rem;
    padding: 1.6rem;
    border-radius: .8rem;
    display: flex;
    align-items: center;
    position: relative;
}

.money-wrapper:hover, 
.money-wrapper:has(:focus) { 
    outline: 0.25rem solid #7c3aed;
}

.amount {
    border: 0;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--text-color);
    width: 50%;
}

.amount:focus {
    outline: 0;
}

/* Dropdown */

.dropdown {
    --bg-hover: #ede9fe;
    width: 13rem;
    position: absolute;
    top: 0;
    right: 0;
    height: 5.6rem; /* Altura da lista */
    overflow: hidden; /* não permite que transborde os icones da caisa, 
    ou seja tudo que trasnbordas será escondido*/
    

}

.dropdown:hover {
    height: fit-content; /* Significa que a altura irá se extender 
    com a altura do restante da lista*/
    overflow: initial;
}
.selected {
    display: flex;
    align-items: center;
    gap: .8rem;
    padding: 1.6rem;
    border-radius: 0 .8rem .8rem 0;
    cursor: pointer;
}

.selected::before {
    content: "";
    height: 2.4rem;
    width: 0.1rem;
    background: #94A3B8;
    position: absolute;
    left: 0;
    
}

.selected::after {
    content: "";
    width: 2.4rem;
    height: 2.4rem;
    background: url(./assets/chevron-down.svg) no-repeat;
}

li:hover {
    
}

.selected:hover {
    background-color: var(--bg-hover);
}

.fi.fis {
    font-size: 2.4rem;
    border-radius: 50%;
}

/* ul */

ul {
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(15, 23, 42, 0.15);
    border-radius: 8px;
    padding: 0;
    width: 16rem;
    max-height: 17rem;
    margin-top: .8rem;
    overflow-y: scroll;  /* overflow-y: scroll; vai criar a barra de rolagem lateral*/
}

li {
    padding: 1.2rem 1.6rem;
    display: flex;
    align-items: center;
    gap: .8rem;
    cursor: pointer;
}

.cambio .wrapper {
    margin-top: 2.4rem;
    width: 59.2rem;
    height: 35.6rem;
    
}
